
<html lang="en">
<head>
    {% load static %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Instgram</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="demo/">Demo</a></li>
        <li><a href="login/">Login</a></li>
        <li><a href="register/">Register</a></li>
          <li><a href="addPostPage/">Post</a></li>
      </ul>
    </div>
  </nav>


     {% for post in allPost %}
         <ul class="collection with-header">
         <li class="collection-header"><h1>{{ post.author }}</h1></li>
         <li class="collection-item">{{ post.caption }}</li>
             <li class="collection-item">{{ post.comment }}</li>
         <li class="collection-item">
             {% if post.pic %}
             <img class="responsive-img" src="{{ post.pic.url }}" >
             {% endif %}
         </li>
         <li class="collection-item">{{ post.post_date }}</li>
         </ul>
         <hr>
    {% endfor %}




</body>
</html>