{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav>
    <div class="nav-wrapper">
      <a href="{% url 'app:home' %}" class="brand-logo right">Instgram</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">

          <li><span id="hello-msg">Hello,{{ request.user }} </span></li>
          <li><a href="{% url 'app:profile' %}">My Profile</a></li>
          <li><a href="{% url 'app:addpost' %}">Post</a></li>

          <li><a href="{% url 'app:logout' %}">Logout</a></li>
      </ul>

    </div>

  </nav>
{% block content %}
   {% for post in allPost %}

         <ul class="collection with-header">
             <li class="collection-item">
                 {% if post.pic %}
                     <img class="responsive-img" src="{{ post.pic.url }}" >
                 {% endif %}
             </li>

             <li class="collection-item">Caption:{{ post.caption }}</li>
             <li class="collection-item">Comment:{{ post.comment }}</li>
             <li class="collection-item">Author:{{ post.author }}</li>
             <li class="collection-item">Date:{{ post.post_date }}</li>
         </ul>
       <form action="{% url 'app:likepost'  %}" method="POST">
				{% csrf_token %}
                {% if is_liked %}
                    <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger">Dislike</button>
                {% else %}
                    <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary">like</button>
                {% endif %}
       {{post.likes.count}} Likes

       </form>

         <hr>

    {% endfor %}
{% endblock %}
</body>
</html>



