<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{#     <ol>#}
{#     {% for post in allPost %}#}
{#         <ul class="collection with-header">#}
{#         <li class="collection-header"><h4>{{ post.author }}</h4></li>#}
{#         <li class="collection-item">{{ post.caption }}</li>#}
{#         <li class="collection-item">{{ post.pic }}</li>#}
{#         <li class="collection-item">{{ post.post_date }}</li>#}
{#         </ul>#}
{#         <hr>#}
{#    {% endfor %}#}
{#</ol>#}
{#  addPost under this is calling the function addPost  #}
    <form action="/addPost/" method="post"> {% csrf_token %}
       caption: <input type="text" name="caption">
        <input type="submit" value="Add">

    </form>

</body>
</html>